.vscode
.venv
.env
outs
__pycache__/
*.pyc
*.pyo
*.pyd
tmp/
command_lines.fzf
MEMO.txt
assets/sddm-eikeno
assets/lib32-sdl2-2.30.9-1-x86_64.pkg.tar.zst
assets/sdl2-2.30.9-1-x86_64.pkg.tar.zst
assets/fixSDL.sh
assets/surfshark-vpn
assets/siteperso
vaultpass
packages/pacman_pkgs__nouveau.txt
packages/aur_pkgs__nouveau.txt
packages/pacman_pkgs__nvidia.txt
packages/aur_pkgs__nvidia.txt
packages/pacman_pkgs__amd.txt
packages/aur_pkgs__amd.txt
packages/remove_pkgs_all.txt
playbooks/playbook_cloudhosts.yaml
library/yay
submodules/ansible-yay